/* RESET */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* GENERAL */

*{
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #F6F8F9;
}

.container{

    width: 75%;
    margin: 0 auto;

}


/* HEADER */

header{
    background-color: white;
}

#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}



/* MAIN */

.button-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #F6F8F9;
    padding: 20px;
}

#special-button{
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    border-color: lightblue;
}

#normal-button{
    background-color: white;
    border-color: lightgray;
    color: lightgrey;
    border-radius: 5px;
}



